.cover {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
  text-align: center;
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  margin: auto 8px;
}

.cover__note {
  font-family: monospace; /* the sexy one */
  font-size: 30px;
  line-height: 28px;
}
